

<h4>Search for a News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Show_search_result">
           
            
            <div class="form-group">
                <label for ="Searchprase" class="control-label"></label>
                <input name ="Searchprase" class="form-control" />
               
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

